<footer class="footer container section-spacing">
  <div class="footer-company-info">
    <h3>Vedix</h3>
    <p>Copyright © 2023 | All Rights Reserved</p>
    <div class="social-icons">
      <span></span>
      <span></span>
      <span></span>
    </div>    
  </div>
  <div class="footer-links">
    <h3>Quick Links</h3>
    <ul>
      <li><a href="#"></a>Link</li>
      <li><a href="#"></a>Link</li>
      <li><a href="#"></a>Link</li>
      <li><a href="#"></a>Link</li>
    </ul>
  </div>
  <div class="footer-contact-us">
    <h3>Contact Us</h3>
    <a href="mailto:support@vedix.com">support@vedix.com</a>
    <p>+1 213 221 3659</p>
  </div>


  <div class="zxc">
   {% render 'los-icons', icon: 'aishah' %}
  </div>

</footer>



{% stylesheet %}
  
  .footer{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    background-color: var(--skin);
  }
  .footer-links ul li {
    padding-left: 0;
  }

  @media screen and (min-width: 768px)
  .section-spacing {
      padding-left: var(--spacing_lg);
      padding-right: var(--spacing_lg);
}
  

{% endstylesheet %}