
<section class="expert" style="background-image: url('{{ section.settings.image | img_url:'1440x' }}');">


    <div class="expert-box">
      <div class="expert-box--image">
         {{
            section.settings.expert_image
            | image_url: width: 1440
            | image_tag:
            widths: '300, 600',
            sizes: 'auto',
            fetchpriority: fetch_priority,
            loading: loading,
            class: 'img-fluid'
         }}
      </div>
      <div class="expert-box--expert">
          <div>
          <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0612/8097/7050/files/tick-mark.png" alt="">
           <p>expert ayurvedic formulator</p>
          </div>
          <h2>zeel gandhi</h2>
          <p>B.A.M.S</p>
      </div>
      <div class="expert-box--info cutoff">
        <p>"Vedix uses a group of herbs as opposed to one single herb so as to create the perfect formulation for your hair with no side effects"</p>
      </div>
    </div>
</section>



{% schema %}
{
  "name": "LOS Experts",
  "tag": "section",
  "class": "los-experts",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner Image"
    },
    {   
      "type": "image_picker",
      "id": "expert_image",
      "label": "Expert Image"

    },
    {   
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "World’s First Personalised Ayurvedic Solution"
    },
    {   
      "type": "text",
      "id": "sub_heading",
      "label": "Sub Heading",
      "default": "Get a personalised solution kit formulated by Ayurvedic Experts"
    },
    {   
      "type": "url",
      "id": "url",
      "label": "Add a Link"
    },
    {   
      "type": "text",
      "id": "url_text",
      "label": "Button text",
      "default": "Begin Quiz"
    }
  ],
   "presets": [
    {
      "name": "LOS Experts"
    }
  ]
}

{% endschema %}



{% stylesheet %}
 

.expert{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 720px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.expert-box--expert img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.expert-box--expert div {
  display: flex;
  align-items: center;
}

.expert-box{
    display: grid;
    width: 450px;
    grid-template-columns: 1.5fr 2.5fr;
    grid-template-areas: 
    "image expert expert"
    "image expert expert"
    "info info info";
    position: relative;
}

.expert-box--image {
  grid-area: image;
  border: 1px solid var(--black);
}

.expert-box--image img {
  height: 100%;
  object-fit: cover;
}

.expert-box--expert {
  grid-area: expert;
  border: 1px solid var(--black);
  border-left: 0;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.expert-box--info {
  grid-area: info;
  background-color: var(--white);
  padding: 1rem;
  padding: 20px !important;
}
{% endstylesheet %}