
<section class="wrapper container">
    <div class="regular">
        <h4>Regular</h4>
        <div>
            <ul>
                <li>Custom formulated based on your Constitution (Prakriti)</li>
                <li>Custom formulated based on your Constitution (Prakriti)</li>
                <li>Custom formulated based on your Constitution (Prakriti)</li>
                <li>Custom formulated based on your Constitution (Prakriti)</li>
                <li>Custom formulated based on your Constitution (Prakriti)</li>
            </ul>
        </div>
    </div>
    <div class="image">
            {{
                section.settings.main_image
                | image_url: width: 600
                | image_tag:
                widths: '300, 600',
                sizes: 'auto',
                fetchpriority: fetch_priority,
                loading: loading,
                class: 'img-fluid main_image'
            }}  
    </div>
    <div class="customized">
         <h4>Customized</h4>
        <div>
            <ul>
                <li>Custom formulated based on your Constitution (Prakriti)</li>
                <li>Custom formulated based on your Constitution (Prakriti)</li>
                <li>Custom formulated based on your Constitution (Prakriti)</li>
                <li>Custom formulated based on your Constitution (Prakriti)</li>
                <li>Custom formulated based on your Constitution (Prakriti)</li>
            </ul>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "LOS Vedix Works",
  "tag": "section",
  "class": "los-blogs",
  "max_blocks": 3,
  "settings": [
        {
          "type": "text",
          "label": "enter the main text",
          "id": "main_heading",
          "default": "Vedix tackles the hair fall issue from the root! "
        },
        {
          "type": "image_picker",
          "label": "Select the primary image",
          "id": "main_image"
        },
        {
          "type": "text",
          "label": "enter the sub text",
          "id": "sub_heading",
          "default": "This is also one of the reasons why Ayurveda chooses one of the most easily understandable methods to measure the magnitude of the hair issue, the root cause, and the solution, with just a simple assessment. At Vedix, we call this method as the “Dosha Assessment”"
        }
    ],
  "blocks": [
    {
      "type": "approach",
      "name": "approach",
      "settings": [
        {
          "type": "image_picker",
          "label": "Select the primary image",
          "id": "main_isdsadsmage"
        },
        {
          "type": "text",
          "label": "Enter the heading",
          "id": "heading",
          "default": "Lorem Ipsum, Chai paani kam"
        },
        {
          "type": "text",
          "label": "Enter the text",
          "id": "text",
          "default": "Answer simple questions about your hair, skin and wellness to help us assess your Unique Dosha Profile"
        },
        {   
          "type": "url",
          "id": "url",
          "label": "Add a Link"
        },
        {   
          "type": "text",
          "id": "url_text",
          "label": "Button text",
          "default": "Begin Quiz"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "LOS Vedix Works"
    }
  ]
}
{% endschema %}


{% stylesheet %}


.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
ul {
    list-style: none;
    padding-left: 0;
}

li{
    margin: 10px 0;
    padding-left: 20px;
}


.regular li {
    background-color: #f9e1de;
}
.customized li {
    background-color: #c1d3b1;
}
{% endstylesheet %}