<section class="los-ticker-1">
     {% for block in section.blocks %}  
    <div class="los-ticker--block">
     {{
        block.settings.ticker_image
        | image_url: width: 200
        | image_tag:
          widths: '150 200',
          sizes: 'auto',
          fetchpriority: fetch_priority,
          loading: loading,
          class: 'img-fluid block-image'
      }}
      <p class="p-0">{{ block.settings.ticker_info }}</p>
    </div>
    {% endfor %}
</section>

{% schema %}
{
  "name": "LOS Ticker 1",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "ticker",
      "name": "ticker-1-info-block",
      "settings": [
        {
          "type": "image_picker",
          "label": "select the logo image",
          "id": "ticker_image"
        },
        {
          "type": "text",
          "label": "enter the logo info",
          "id": "ticker_info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "LOS Ticker 1"
    }
  ]
}
{% endschema %}

{% stylesheet %}
.los-ticker-1 {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border: 1px solid var(--black);
    background-color: #a2cea7;
}

.los-ticker-1 p {
    line-height: 2;
}

.los-ticker--block {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.los-ticker--block p {
    font-size: 18px;
    font-weight: 400;
    color: #666666;
}

.block-image{
    object-fit: contain;
    width: 30px;
    height: 30px;
    margin: 0 1rem;
}
{% endstylesheet %}
