:root{
  --black: #131818;
  --white: #ffffff;
  --orange: #EB7462;
  --skin: #faf7f1;
  --skin-dark: #f7efdf;
}

/* Custom Resets */

* {
  font-family: 'Anek Devanagari' !important;
}

h1,h2,h3,h4,h5,h6,p{
   font-family: 'Anek Devanagari' !important;
   margin: 0;
   color: var(--black);
}

h1{
  font-size: 7rem;
  font-weight: 700;
}

p{
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.4;
}

h1{
  font-size: 7rem;
  line-height: 1.2;
  font-weight: 700;
}

h2{
  font-size: 4.2rem;
  line-height: 1.2;
  font-weight: 800;
}

h4{
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 600;
}

a {
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  line-height: 1.2;
}


/* Custom helper Classes */

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.font-light {
  font-weight: 300;
}

.btn {
  border: 1px solid var(--black);
  min-width: 27rem;
  padding:1.4rem 0;
  font-weight: 700;
  color: var(--white);
  background-color: var(--orange);
}

/* Angled Cut CSS */

.cutoff {
  --background-color: white;
  --border-color: var(--black);
  --border-width: 1px;
  --edge-size: 15px;

  background: var(--background-color);
  padding: 15px 0;
  border: 0;
  isolation: isolate;
  -webkit-clip-path: polygon(0 0%, 100% 0, 100% calc(100% - var(--edge-size)), calc(100% - var(--edge-size)) 100%, 0 100%, 0% var(--edge-size));
          clip-path: polygon(0 0%, 100% 0, 100% calc(100% - var(--edge-size)), calc(100% - var(--edge-size)) 100%, 0 100%, 0% var(--edge-size));
}

.cutoff::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--border-color);
  z-index: -2;
}

.cutoff::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--background-color);
  z-index: -1;
  -webkit-clip-path: polygon(var(--border-width) calc(var(--edge-size) + var(--border-width) * 0.5), calc(var(--edge-size) + var(--border-width) * 0.5) var(--border-width), calc(100% - var(--border-width)) var(--border-width), calc(100% - var(--border-width)) calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)), calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)), calc(var(--border-width)) calc(100% - var(--border-width)));
          
	clip-path: polygon(
		var(--border-width) var(--border-width), 
		calc(var(--edge-size) + var(--border-width) * 0.5) var(--border-width), 
		calc(100% - var(--border-width)) var(--border-width), 
		calc(100% - var(--border-width)) calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)), 
		calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)), 
		calc(var(--border-width)) calc(100% - var(--border-width)));
}


.font-small {
  font-size: 14px;
}

.p-0 {
  padding:0 !important;
}

.pl-10{
  padding-left: 10px;
}

.pt-20{
  padding-top: 20px;
}

.pt-40{
  padding-top: 40px
}

.section-spacing-md {
   padding: 20px;
}

.py-20{
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-40{
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px){
  .section-spacing-md {
   padding: 40px;
  }
}

.section-spacing-lg {
   padding: 40px;
}

@media screen and (min-width: 768px){
  .section-spacing-lg {
   padding: 60px;
  }
}



/* External Font Loaded */

/* anek-devanagari-100 - devanagari_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anek Devanagari';
  font-style: normal;
  font-weight: 100;
  src: url('../assets/anek-devanagari-v8-devanagari_latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* anek-devanagari-200 - devanagari_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anek Devanagari';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/anek-devanagari-v8-devanagari_latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* anek-devanagari-300 - devanagari_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anek Devanagari';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/anek-devanagari-v8-devanagari_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* anek-devanagari-regular - devanagari_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anek Devanagari';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/anek-devanagari-v8-devanagari_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* anek-devanagari-500 - devanagari_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anek Devanagari';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/anek-devanagari-v8-devanagari_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* anek-devanagari-600 - devanagari_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anek Devanagari';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/anek-devanagari-v8-devanagari_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* anek-devanagari-700 - devanagari_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anek Devanagari';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/anek-devanagari-v8-devanagari_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* anek-devanagari-800 - devanagari_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anek Devanagari';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/anek-devanagari-v8-devanagari_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}